{% extends 'base.html.twig' %}

{% block title %}Edit Ressources{% endblock %}

{% block body %}
    <h1>Edit Ressources</h1>

    {{ include('ressources/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ressources_index') }}">back to list</a>

    {{ include('ressources/_delete_form.html.twig') }}
{% endblock %}
